@if (error()) {
<div class="fixed top-4 left-1/2 -translate-x-1/2 z-50
           w-full max-w-md
           rounded-lg border border-red-300
           bg-red-100 text-red-800
           shadow-md px-4 py-3
           flex items-start gap-3">

    <!-- Icon -->
    <i class="bi bi-exclamation-triangle-fill text-red-600 mt-0.5"></i>

    <!-- Message -->
    <div class="flex-1 text-sm leading-relaxed">
        <p class="m-0">
            {{ error() }}
        </p>
    </div>
</div>
}
@if (registeredUser()) {
<div class="fixed top-4 left-1/2 -translate-x-1/2 z-50
           w-full max-w-md
           rounded-lg border border-green-300
           bg-green-100 text-green-800
           shadow-md px-4 py-3
           flex items-start gap-3"> 
    <!-- Icon -->
    <i class="bi bi-check-circle-fill text-green-600 mt-0.5"></i>
    <!-- Message -->
    <div class="flex-1 text-sm leading-relaxed">
        <p class="m-0">
            Registration successful. <b>{{ registeredUser() }}</b>, now you can log in.
        </p>
    </div>
</div>
}
<div class="flex justify-center items-center min-h-screen bg-base-200 p-4">
    <div class="border-2 border-sky-500/50 w-full max-w-md mx-auto p-7 shadow-xl rounded-md">
        <div class="flex justify-center">
            <img class="size-48 " alt="" src="/logoNoName.png" />
        </div>
        <div class="card-body p-4">

            <form (ngSubmit)="onSubmit()" novalidate>

                <!-- Email -->
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-at"></i></span>
                    <input type="text" id="username" class="form-control" placeholder="Username"
                        [field]="loginForm.username" />
                </div>
                <!-- Password -->
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                    <input type="password" #password id="password" class="form-control" placeholder="Password"
                        [field]="loginForm.password" />
                    <button class="input-group-text bg-white"
                        (click)="password.type = password.type === 'password' ? 'text' : 'password'"
                        [disabled]="loginFormModel().password.length === 0"><i class="bi bi-eye"></i></button>
                </div>

                <!-- Sign up -->
                <div class="mb-3 text-center">
                    <span>
                        Don't have an account yet?
                        <a routerLink="/sign-up" class="ms-1 link-primary">Sign Up</a>
                    </span>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-outline-primary w-100" [disabled]="loginForm().invalid()">
                    Login
                </button>

            </form>
        </div>
    </div>
</div>