@if (loading()) {
<div class="flex items-center justify-center h-32">
    <div class="spinner-border text-indigo-500" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
} @else if (filteredFlows.length === 0) {
<div class="btn-group w-full mb-3" role="group">

    <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'all'"
        [class.btn-outline-primary]="filter() !== 'all'" (click)="filter.set('all')">
        All
    </button>

    <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'public'"
        [class.btn-outline-primary]="filter() !== 'public'" (click)="filter.set('public')">
        Public
    </button>

    <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'private'"
        [class.btn-outline-primary]="filter() !== 'private'" (click)="filter.set('private')">
        Private
    </button>

</div>

<div class="space-y-2">
    @for (flow of filteredFlows(); track flow.id) {
        <app-flow-item [flow]="flow"></app-flow-item>
    }

</div>
}