@if (loading()) {
<div class="flex items-center justify-center h-32">
    <div class="spinner-border text-indigo-500" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
} @else {
<div class="h-screen flex flex-col">
    <div class="w-full max-w-sm py-2">
        <div class="relative flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="absolute w-5 h-5 top-2.5 left-2.5 text-slate-600">
                <path fill-rule="evenodd"
                    d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                    clip-rule="evenodd" />
            </svg>

            <input
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-10 pr-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                placeholder="Search flows..." [(ngModel)]="searchTerm"/>
        </div>
    </div>
    
    <div class="btn-group w-full mb-3" role="group">

        <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'all'"
            [class.btn-outline-primary]="filter() !== 'all'" (click)="filter.set('all')">
            All
        </button>

        <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'public'"
            [class.btn-outline-primary]="filter() !== 'public'" (click)="filter.set('public')">
            Public
        </button>

        <button type="button" class="btn btn-sm w-full transition" [class.btn-primary]="filter() === 'private'"
            [class.btn-outline-primary]="filter() !== 'private'" (click)="filter.set('private')">
            Private
        </button>

    </div>

    <div class="flex pt-2 pb-1 text-sm w-full items-center text-center justify-center">
        <app-ordering [orderFields]="orderFields" [orderView]="orderView" (orderChanged)="onOrderChanged($event)" ></app-ordering>
    </div>
    @if (filteredFlows().length === 0) {
    <div class="text-gray-400 text-center mt-10 flex flex-col flex-1 pt-10">
        No flows found
    </div>
    } @else {
    <div class="flex-1 overflow-y-auto h-full w-full py-2 gap-2 flex flex-col items-stretch max-h-[calc(100vh-32rem)]">
        @for (flow of filteredFlows(); track flow.id) {
        <app-flow-item [(detailOpenedId)]="detailOpenedId" [flow]="flow"></app-flow-item>
        }
    </div>
    }
</div>
}